@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cat-res {
  width: 50%;
  height: 50%;
}

@media (max-width: 1024px) {
  .cat-res {
    display: none;
  }
}
