<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="d-flex flex-column">
          <img class="img-fluid rounded w-75 align-self-end" src="/public/img/about-1.jpg" alt="">
          <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="/public/img/about-2.jpg" alt="" style="margin-top: -25%;">
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
           <div class="max-w-4xl mx-auto p-6 bg-white">
        <h1 class="text-3xl font-bold text-blue-600 mb-4">Birat Rani Eye Hospital</h1>

        <p class="mb-4">
            According to the <span class="font-semibold">RAAB (Rapid Assessment of Avoidable Blindness) Survey</span>, the incidence of blindness is highest in the 
            <span class="text-yellow-500 font-medium">eastern region</span> of the country. Blindness is more prevalent among 
            the economically underprivileged population of society.
        </p>

        <p class="mb-4">
            <span class="font-semibold">Trained human resources</span> and infrastructural facilities for eye care are very scanty in the eastern region. 
            The per capita income of the inhabitants of this region is below the national average. Hence, a 
            <span class="bg-yellow-100 px-2 py-1 rounded">huge number of patients with ocular diseases</span> continue to suffer either due to non-availability 
            of appropriate treatment or economic reasons.
        </p>

        <p class="mb-4">
            This has also resulted in an <em>exodus of patients</em> to different states for the treatment of their ocular diseases.
        </p>

        <h2 class="text-2xl font-semibold text-blue-500 mb-3">Our Vision</h2>
        <p class="mb-4">
            It was, therefore, the realization of our owner team to establish a modern eye hospital with all facilities to serve 
            the people of the eastern region along with the periphery of India too.
        </p>

        <h2 class="text-2xl font-semibold text-blue-500 mb-3">Establishment</h2>
        <p>
            With this aim and objective, <strong>Birat Rani Eye Hospital</strong> was established in December 2024.
        </p>
 <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a>
      </div>
    </div>
  </div>
</div>
</div>